@import "../../styles/vars";

.dialogs{
  &__item{
    display: flex;
    margin-bottom: 20px;
    $item: &;

    &-avatar{
      position: relative;
      margin-right: 10px;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    &--online{
      #{$item}-avatar{
        &::before{
          content: "";
          position: absolute;
          background-color: $green;
          border-radius: 50%;
          border: 3px solid #fff;
          width: 13px;
          height: 13px;
          bottom: -2px;
          right: 0;
        }
      }
    }

    &--selected{
      background-color: rgba(54, 118, 255);
      color: #fff;
    }

    &-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top{
        display: flex;
        b{
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span{
          opacity: .5;
        }
      }
      &-bottom{
        position: relative;
        p{
          opacity: .5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          height: 1.2em;
          white-space: nowrap;
        }
        &-count{
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #f46b6b;
          color: #fff;
          font-weight: bold;
          font-size: 11px;
          line-height: 17px;
          text-align: center;
          border-radius: 30px;
          width: 100%;
          max-width: 22px;
          min-width: 18px;
          height: 18px;
          box-shadow: 0 0 0 3px #fff;
        }

        .message__icon-readed{
          bottom: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}